.App {
  text-align: center;
  background-color: #e7e7e7;
  -webkit-app-region: drag;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App-section {
  background-color: #f46128;
  border-radius: 50%;
  font-size: .75rem;
  /* left: 8px; */
  position: absolute;
  width: 15px;
  height: 15px;
  text-align: center;
  padding-bottom: 1px;
  margin-top: 4px;
  margin-left: 4px;
  -webkit-app-region: no-drag;
}
